
.left {
	float: left;
}

.right {
	float: right;
}

.clearer {
	clear: both;
}

.clearer {
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
}

#center-wrapper {
	margin: 0 auto;
	width: 920px;
}

.column {
	margin-left: 2%;
	width: 32%;
    height: 32%;
    
}

.column.first {
	margin-left: 0;
}

.sortable-list {
	background-color: #DCDCDC;
	list-style: none;
	margin: 0;
	min-height: 60px;
	padding: 10px;
	
}

#label {
	font-size: 16px;
}

#acervo{
	overflow-y:scroll;
	height: 400px;
}

.sortable-item {
	background-color: #FFF;
	border: 1px solid #000;
	cursor: move;
	display: block;
	margin-bottom: 5px;
	padding: 10px 10px 10px 10px;
	text-align: left;
}

#nomeDisciplina{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

