<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

 
    <!-- enabling annotation driven configuration /-->
    <context:annotation-config/>
    
    <bean id="gal" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/galnpi"/>
	</bean>
 
    
	<!-- Para integrar-se com o JPA, o Spring disponibiliza um Bean que devemos cadastrar no arquivo XML. 
	Ele representa a EntityManagerFactory, mas agora gerenciada pelo Spring. Ou seja, toda inicialização da
	 fábrica fica ao encargo do Spring: -->

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="gal" />
		<property name="dataSource" ref="gal"/>
    </bean>
	 
    	<!-- habilitando o gerenciador de transaçoes para o JPA no spring -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    	<property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

	<!-- ele vai varrer a aplicaçao e se existir uma transaçao ele vai atrelar isso ao gerenciador de transaçoes -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- Scans the classpath of this application for @Components to deploy as beans -->
    <!--  Escaneando os COMPONENTES (repository, service) para contruçao dos beans de maneira automatica -->
    <context:component-scan base-package="br.ufc.npi.gal.repository" />
    <context:component-scan base-package="br.ufc.npi.gal.service" />
	
</beans>