#codigo ,input[id="isbn"], textarea[id="nome_disciplina"]{
	width:350px;
}
textarea[id="nome"]{
	width:550px;
	height:80px;
}

#menu-lateral li{
	font: 14px tahoma, arial;
	}

#menu{
	float:left;
	position:absolute; 
	display: inline-block;
	z-index: 1;
}
#menu_busca{
	padding-bottom:4px;
}
#img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -20px;
}

#banner{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body{
	background: #FFFFFF;
	padding: 0 20px;
    display: block;
	}
	
	
#all{
	background: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	width: 910px;
}

#notificacao_titulo{
	font: 12px tahoma, arial;
}

#notificacao_disciplina{
	font: 12px tahoma, arial;
}

#notificacao{
	font: 12px tahoma, arial;
}

#breadcrumbs{
	font: 13px tahoma, arial;
	border-radius: 5px;
	margin-bottom: 2px;
	margin-top: 2px;
	margin-left: auto;
	margin-right: auto;
	width: 910px;
	display: block;
	background-color: rgba(6,6,6,0.27);
	border:1px solid rgba(6,6,6,0.1);
	padding: 10px 0px;
}
#geral{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 910px
}

#conteudo{
		background: #FFFFFF;
		margin-left: 160px;
		margin-right: 10px;
		/*width:750px;*/
		border: solid #FFFFFF;
		border-radius: 1px;
		font: 20px tahoma, arial;
}
	
	
#sobre{
	font: 12px tahoma, arial;
	position:absolute; 
	display:block;
	left:0;
	text-align:center;
	width:100%;
	margin-left: auto;
	margin-right: auto;
}



#logado{
	text-align: right;
}

#inicio{
	float:left;
	padding-left:5px;
}

#login{
	float:left;
}
#tabelaBotoes{
	text-align:center;
}
	
#legenda{
	font: 18px tahoma, arial;
}
.botao{
	font: 14px tahoma, arial;
}

select{
	font: 14px tahoma, arial;
	display: inline-block;
	position: relative;
	padding: 0;
	line-height: normal;
	margin-right: .1em;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	overflow: visible; 
}

option{
	font: 14px tahoma, arial;
}

label{
	font: 14px tahoma, arial;
	
}
.error{
	color: red;
	font: tahoma, arial;
	
}

#erro{
	color: red;
	font:tahoma, arial
}

#janelaModal{
	font:16px tahoma, arial
}


.mensagens{
	display: none;
	color: red;
}

.tabela_listar {
	margin:0px;padding:0px;
	/*width:100%;*/
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
	
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
}.tabela_listar table{
	/*width:100%;*/
	height:100%;
	margin:0px;padding:0px;
}.tabela_listar tr:last-child td:last-child {
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
}
.tabela_listar table tr:first-child td:first-child {
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
}
.tabela_listar table tr:first-child td:last-child {
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
}.tabela_listar tr:last-child td:first-child{
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
}.tabela_listar tr:hover td{
	
}
.tabela_listar tr:nth-child(odd){ background-color:#e5e5e5; }
.tabela_listar tr:nth-child(even)    { background-color:#ffffff; }.tabela_listar td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:14px;
	font-family:tahoma, arial;
	font-weight:normal;
	color:#000000;
}.tabela_listar tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tabela_listar tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tabela_listar tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tabela_listar tr:first-child td{
		background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:verdana , tahoma, arial;
	font-weight:bold;
	color:#000000;
}
.tabela_listar tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc;
}
.tabela_listar tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tabela_listar tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
	width:120px;
}

#alinhareditar{
	text-align:center;
}

#alinhardeletar{
	text-align:center;
}
	
#limiteTabela , .limiteTabela{
	
	width:750px;
	background-color:rgba(6,6,6,0.1);
	box-shadow: 0px 0px 10px 1px rgba(6,6,6,0.2) ;
}
#tabela tr td:first-child{
	width:65px;
	word-break:break-all;
}
#tabela tr td:nth-child(2){
	width:280px;
	word-break:break-all;
}
#tabela tr td:nth-child(3){
	width:90px;
	word-break:break-all;
}
#tabela tr td:nth-child(4){
	width:105px;
	word-break:break-all;
}
#tabela tr:first-child td {
	border-color:rgba(6,6,6,0.3);
}
#tabela tr:nth-child(even) td {
	border-color:rgba(6,6,6,0.4);
}
#tabela tr:nth-child(odd) td {
	border-color:rgba(6,6,6,0.4);
}

#limiteTabela2 #tabela tr td:first-child{
	width:125px;
	word-break:break-all;
}
#limiteTabela2 #tabela tr td:nth-child(2){
	width:425px;
	word-break:break-all;
}
#limiteTabela2 #tabela tr td:nth-child(3){
	width:50px;
	word-break:break-all;
}
#limiteTabela2 #tabela tr td:nth-child(4){
	width:80px;
	word-break:break-all;
}